.dropdown-temporadas {
    position: relative;
    display: inline-block;
    font-weight: 700;
}

/* Botón principal como div */
#season-btn {
    background: #181818;
    color: #810000;
    border: 2px solid #810000;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
}

#season-btn::after {
    content: "▼";
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.3s;
}

.dropdown-temporadas.active #season-btn::after {
    transform: rotate(180deg);
}

/* Opciones */
.season-options {
    display: none;
    position: absolute;
    background: #181818;
    border: 2px solid #810000;
    border-radius: 8px;
    top: 100%;
    left: 0;
    min-width: 160px;
    z-index: 10;
    flex-direction: column;
    margin-top: 5px;
}

.season-option {
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.season-option:hover {
    background: #810000;
    color: #181818;
}

.dropdown-temporadas.active .season-options {
    display: flex;
    flex-direction: column;
}