.dropdown-temporadas {
    position: absolute;
    display: inline-block;
    font-weight: 700;
    margin-left: 38.6em;
    margin-top: 1.2em;
}

/* Botón principal como div */
#season-btn {
    background: #181818;
    color: #810000;
    border: 2px solid #810000;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    width: 7.5em;
    height: 1.3em;
}

#season-btn::after {
    content: "▼";
    display: inline-block;
    margin-left: 108px;
    transition: transform 0.3s;
    font-size: 25px;
    /* tamaño de la flecha */
    line-height: 0;
    /* evita que afecte la altura del botón */
    vertical-align: middle;
    /* centra verticalmente respecto al texto */
    margin-top: -1.7em;
}

.dropdown-temporadas.active #season-btn::after {
    transform: rotate(180deg);
}

/* Opciones */
.season-options {
    display: none;
    position: absolute;
    background: #181818;
    border: 2px solid #810000;
    border-radius: 8px;
    top: 100%;
    left: 0;
    min-width: 160px;
    z-index: 10;
    flex-direction: column;
    margin-top: 5px;
    color: #f00;
    text-align: center;
    font-weight: 300;
}

.season-option {
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.season-option:hover {
    background: #810000;
    color: #181818;
}

.dropdown-temporadas.active .season-options {
    display: flex;
    flex-direction: column;
}