/* ====== DROPDOWN TEMPORADAS ====== */
.dropdown-temporadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.dropdown-temporadas button {
    background: #181818;
    color: #810000;
    border: 2px solid #810000;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
}

.dropdown-temporadas button:hover {
    background: #810000;
    color: #181818;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* ====== SELECTION ====== */
.dropdown-temporadas button::selection {
    background-color: #810000;
    color: #fff;
}